.toggle {
  cursor: pointer;
}
mat-button-toggle-group {
  width: 100%;
}
.sidebar {
  padding-left: 2%;
  margin-top: 20px;
}
.w-100 {
  width: 100%;
}
.pt-20 {
  padding-top: 20px;
}
mat-button-toggle-group {
  border: none;
}
.add-product-btn, .del-product-btn {
  width: 100%;
  margin-bottom: 10px;
  margin-top: 10px;
}
.fa-trash-o {
  margin-bottom: 5px;
}
button {
  cursor: pointer;
}
.no-data {
  text-align: center;
  margin-top: 5%;
}