<div class="mat-elevation-z8 page">
  <h3 class = "title">Add Product</h3>
  <form class="example-form" #productForm="ngForm" (ngSubmit)="addProduct(productForm)">
     <mat-form-field class="example-full-width">
      <input matInput placeholder="Product Name" name="productName" ngModel class="form-control" required >
    </mat-form-field>
                    
    <mat-form-field>
      <mat-label>Select Category</mat-label>
        <mat-select [(value)]="category" name="category" ngModel required>
          <mat-option value="Electronics">Electronics</mat-option>
          <mat-option value="Fashion">Fashion</mat-option>
          <mat-option value="Furniture">Furniture</mat-option>
        </mat-select>
    </mat-form-field>
                      
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Manufacturer" name="manufacturer" ngModel required>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <textarea matInput placeholder="Description" name="description" ngModel ></textarea>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Image URL" name="imageUrl" ngModel required>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Price" name="price" ngModel required>
    </mat-form-field>
             
    <mat-form-field class="example-full-width">
       <input matInput placeholder="Quantity" name="quantity" ngModel required>
    </mat-form-field>
    
    <button type="submit" class="add-product-btn" mat-stroked-button color="primary" [disabled]="productForm.invalid ? true :false">Add Product</button>
</form>
</div>
