<mat-toolbar color="primary">
  <span><a [routerLink]="['/']">Products Inventory</a></span>
  <span class="spacer"></span>
  <span class="nav-spacing" routerLinkActive="active"><a [routerLink]="['/about']">About</a></span>
  <span *ngIf="!isLoggedIn"><a href="javascript:void(0)" (click)="openLoginDialog()">Login</a></span>
  <span class="dropdown" *ngIf="isLoggedIn" [matMenuTriggerFor]="menu">
    <span class="userName">{{userName}}</span>
  <i class="fa fa-caret-down" aria-hidden="true"></i>
  </span>
  <mat-menu #menu="matMenu">
	<button mat-menu-item (click)="goToProfile()">
	   <span>Profile</span>
	</button>
	<button mat-menu-item (click)="logout()">
	   <span>Logout</span>
	</button>
  </mat-menu>
</mat-toolbar>
