.spacer {
  flex: 1 1 auto;
}
mat-toolbar a {
	color: white;
	text-decoration: none;
}
.dropdown {
	cursor: pointer;
}
.nav-spacing{
	margin-right: 30px;
}
.active {
	background-color: #5f9ea0;
	padding: 16px;
}
.userName {
	padding-right: 5px;
}