mat-card {
  width: calc(100% - 70px);
  height: calc(100% - 60px);
}
img {
	height: 150px;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
.action-bar {
	margin: 10px 0px 0px 20px;
}
.mr-20 {
	margin-right: 20px;
}
.fa {
	cursor: pointer;
	padding: 25px 20px 0px 0px;
}
table {
  width: 97%;
  margin: 0 auto;
}
mat-card-subtitle {
  color: black;
}