mat-card {
  width: calc(100% - 70px);
  height: calc(100% - 60px);
}
img {
  height: 150px;
}
.toggle {
  cursor: pointer;
}
table {
  width: 97%;
  margin: 0 auto;
  margin-top: 35px;
}
mat-card-subtitle {
  color: black;
}
mat-button-toggle-group {
  width: 100%;
}
.sidebar {
  padding-left: 2%;
  margin-top: 20px;
}
.w-100 {
  width: 100%;
}
mat-grid-list {
  margin-top: 20px;
}
.pt-20 {
  padding-top: 20px;
}