.dropdown-item {
	text-decoration: none !important;
}
.mt-30 {
	margin-top: 30px;
}
.w-100 {
	width: 250px;
	margin-right: 15px;
}
.acc {
	width: 800px;
	margin: 20px auto;
}
.changePwdBtn{
	margin-right: 10px;
	width: 250px;
}
.acc-EditIcon{
float: right;
}
.acc-cancel{
	margin-left: 10px;
}
.field-center{
	margin:0 auto;
	width: 300px;
}