.dropdown-item {
	text-decoration: none !important;
}
.profile-acc {
	margin-top: 30px;
}
.w-100 {
	width: 250px;
	margin-right: 15px;
}
.w-800 {
	width: 800px;
	margin-left: 300px;
	margin-bottom: 20px;
	margin-top: 20px;
}
.changePassword{
	float: right;
	margin-top: 40px;
	margin-right: 10px

}
.flex{
	display:flex;
	float: right;
}
.back{
	margin-left: 45%;
    margin-top: 10px;
}
.label{
	margin-left: 10px;
}