.page{
    width: 40%;
    margin-left: 30%;
}
.product-form{
    display: grid;
    width: 70%;
    margin-left: 15%;
}
.title{
    text-align: center;
    padding-top: 20px;
}
.submitBtn{
    margin-bottom: 15px;
}